:root {
     --yellow:#FFF200;
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body {
    overflow-x: hidden;
}


#header {
    width: 100%;
    position: fixed;
    top:0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem; 
    z-index: 1000;

    
}



.logo > img{
    height: 5rem;

}

.fa-hamburger {
    font-size: 4rem;
    z-index: 10000;
    color: yellow;
    cursor: pointer;
    display: none;
}

nav > ul{

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav  ul li {
margin-right: 4rem;
}
nav  ul  li  a{
color: #fff;
font-size: 2rem;
}

nav a:hover {
color:yellow;
text-decoration: none;
}

.header-active {
    background: #333;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;
}

.header-active nav ul {
    margin: 0;
}


#home {
    background: linear-gradient(0deg, rgba(0,0,0.6), rgba(0,0,0.6));
    position: relative;


}  

#home .content h1 {
    position: relative;
    z-index: 1;
        font-size: 5rem;
        font-family: 'lemonada', sans-serif;
        font-weight: bolder;
        text-shadow: .1rem .1rem .3rem #333;
        color: yellow;
}

#home .content h2 {
    position: relative;
    z-index: 1;
    font-size: 3.5rem;
    font-family: 'lemonada', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #fff;
    margin: 1rem 0;
}

#home .content p {
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    color:#ccc

}

#home .content button {
         outline: none;
    border: none;
       border-radius: 5rem;
       color:#333;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;

       height: 4rem;
       width: 14rem;
       background: #fff
}

#home .content button::before{
    content: '';
    position: absolute;
    top: 0; left:0;
    background: yellow;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1
}

#home .content button:hover::before {
    width: 100%
}


.fa-times {
    transform: skew(-180deg) rotate(-180deg);
}


@media (max-width: 768px){
    html {
        font-size: 50%;
    }
   
    #header > .fa-hamburger {
            display:inline-block;
        }

        nav {
            position: fixed;
            top:0;left:-120%;
            height: 100vh;
            width: 35vw;
            background:#000;
        }

        nav ul{
            flex-flow: column;
            justify-content: center;
            height: 100%;
        }

        nav ul li {
            margin:2rem 0;
        }

        nav a {
            font-size: 3.5rem;
            border-radius: 5rem;
        }

        nav a:hover {
            padding: .5rem 7.5rem;
            color: #333;
            background: yellow;
        }

        .nav-toggle {
            left:0%;
        }

        #about .image {
            text-align: center;
        }

        #about .image img {
            width: 30vw;
        }
    }




.video-container {
    position: absolute;
    top:0;left:0;
    height: 100vh;
    width: 100%;

}

.video-container .vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: none;
}

.video-container .vid1 {
    display: block;
}

.video-container .controls {
    position: absolute;
    bottom: 14%; left:50%;
    transform:translateX(-50%);
    display: flex;

}

.video-container .dots {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: yellow;
    margin: 0 1rem;
}

.video-container .dots:hover {
    background-color: #fff;
}


#special {
    background: #000;
    min-height: 100vh;

}

#special .heading h1 {
    font-size: 4rem;
    color:#fff;
    padding-top: 7rem;
    margin-bottom: 2rem;
    

}

#special .heading span {
    color:yellow;
   
}

#special p {
    color: #ccc;
    font-size: 2rem;
}

#special .card-container {

width: 95%;
margin: 7rem auto;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;

}

#special .card {
    height: 40rem;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

#special .card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#special .card p {
    font-size: 1.4rem;
    margin: 2rem 0;
}

#special button {
    outline: none;
    border: none;
       border-radius: 5rem;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;
    height: 3.5rem;
    width:14rem;
    background: #333;
    color: #fff;
}

#special button:hover{
    background-color: yellow;
}

#special .card:hover {
    transform:scale(.9);
    cursor: pointer;
}

#about .heading h1 {
    font-size: 4rem;
    color:#000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    

}

#about .heading span {
    color:yellow;
   
}

#about .content {
    margin: 5rem auto;
}

#about .content p {
    font-size: 2rem;
}

#about button {
    outline: none;
    border: none;
       border-radius: 5rem;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;
       height: 4rem;
       width: 14rem;
       background: #333;
       color: #fff
}

#about button:hover{
        background: yellow;

}

#about .image img {
    width: 30vw;
    }


#dish {
    min-height: 100vh;
    width: 100vw;
}

#dish .heading h1 {

    font-size: 4rem;
    color:#000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    

}

#dish .heading span {
    color:yellow;
   
}

#dish .box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;

}

#dish .box-container .box {
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}

#dish img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#dish .info {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51,.6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    transform: scale(0)
}


#dish .box:hover .info {
    transform: scale(1);
}

#dish h3 {
    font-size: 3rem;
}

#dish p {
    font-size: 1.3rem;
    border-bottom: .2rem solid yellow;
    border-top: .2rem solid yellow;
    margin: 1rem 2rem;
}

#dish button {

 outline: none;
    border: none;
       border-radius: 5rem;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;

       height: 4rem;
       width: 14rem;
       background: #ccc;
       color: #fff;
       
}

#dish button:hover{
        background: yellow;

}


#contact {
    min-height: 100vh;
    width: 100vw;
    background:url(res/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#contact .heading h1 {

    font-size: 4rem;
    color:#000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    

}

#contact .heading span {
    color:yellow;
   
}

#contact form {
    background: #fff;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #333;
}

#contact form .inputBox {
    position: relative;
    text-align: center;
}

#contact input, textarea {
    outline: none;
    border: .2rem solid #333;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
    font-size: 2rem;


}

#contact input:focus~h3 {
    font-size: 1.6rem;
    left:6%;
    top:-.5rem;
    color: #ff3300;
}
#contact textarea:focus~h3 {
    font-size: 1.6rem;
    left:6%;
    top:-.5rem;
    color: #ff3300;
}
#contact input:valid~h3{
    font-size: 1.6rem;
    left:6%;
    top:-.5rem;
    color: #ff3300;
}
#contact textarea:valid~h3{
    font-size: 1.6rem;
    left:6%;
    top:-.5rem;
    color: #ff3300;
}

#contact textarea {
    padding: 1rem;
    resize: none;
    height: 20rem;
}

#contact h3 {
    position: absolute;
    top: 3rem; left: 7%;
}

#contact button{
    outline: none;
    border: none;
       border-radius: 5rem;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;
       height: 4rem;
       width: 12rem;
       margin-bottom: 2rem;
       margin-left: 4%;
       background-color: #333;
       color: #fff;

}

#contact button:hover{
    color:#333;
    background-color: yellow;
}

#location {
    min-height: 100vh;
    width: 100vw;
}

#location h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}

#location span {
    color: yellow;
}

#footer {
    background: #333;
}

#footer h1 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

#footer span {
    color: yellow;
}

#footer .brand {
    text-align: center;
    margin-top: 2rem;
}

#footer .brand a .logo img{
    height: 4rem;


}

#footer .brand .icons a{
    font-size: 2rem;
    margin: 2rem 1rem;
    color: #fff;
}

#footer .brand .icons a:hover{
    color: yellow;
}

#footer .footer-links {
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;

}

#footer .footer-links h3{
    font-size: 2.2rem;
    color: yellow
}

#footer .footer-links a {
    color: #fff;
    font-size: 1.7rem;
    
}

#footer .letter h2 {
    font-size: 2rem;
    margin: 2rem 0;
    color:#fff;

}

#footer input[type="email"]{
    border:.2rem solid #fff;
    outline: none;
    background: none;
    height: 4rem;
    width: 22rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;

}

#footer input[type="submit"]{

outline: none;
    border: none;
       border-radius: 5rem;
       font-size: 1.6rem;
       font-weight: bold;
       text-transform: capitalize;
       letter-spacing: .2rem;
       cursor: pointer;
       position: relative;
       z-index: 1;
       overflow: hidden;
       height: 4rem;
       width: 12rem;
    margin: 1rem 0;
       background: #fff;
       color: #333;

}

#footer input[type=submit]:hover{
    color:#333;
    background-color: yellow;
}

